@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');

h3 {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Martian Mono', monospace;
}